body{
    color: rgb(0, 60, 129);
    background-color: rgb(184, 225, 252);
    font-family: "Chakra Petch", sans-serif;
   margin: 40px;}

h1{font-size: 40px;}

p{font-size: 20px;}

header{
    border-bottom: solid 2px rgb(4, 198, 37);
    padding: 20px;
    font-size: 35px;
    color: rgb(51, 29, 198);}

.chamada{
    background: rgb(209, 12, 12);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

img {
  height: 100px;

padding-left: 20px;
padding-right: 20px;

}

.categoriavideos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.categoriavideos img {
     opacity: 0.5;
}

.categoriavideos img:hover {
     opacity: 1.0;
}